{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center" style="margin-bottom: 2.5rem;">{{ _('Base de données des images') }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-green-text no-rounded">
            <thead>
                <tr>
                    {% for col in colonnes %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% for col in colonnes %}
                            <td>
                                {% if row[col] is string and row[col].startswith('<img') %}
                                    {{ row[col]|replace('<img ', '<img loading="lazy" ')|safe }}
                                {% else %}
                                    {{ row[col] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pagination.html" %}
</div>
<style>
/* Supprime les coins arrondis du tableau de la BDD admin */
.no-rounded th,
.no-rounded td {
    border-radius: 0 !important;
}
/* Supprime le hover sur les images du tableau BDD admin */
table.no-rounded img:hover {
    transform: none !important;
    box-shadow: none !important;
}
</style>
{% endblock %}
