<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Suivi des poubelles{% endblock %}</title>
    <style>
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        
        <a href="/gallery">Galerie</a>

        <a href="/visualisations">Visualisations</a>
        <a href="/bdd">Banque de données</a>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
