<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Suivi des poubelles{% endblock %}</title>
    <style>
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            margin-right: 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <h1>{{ _('Green For Bin') }}</h1>
        <div style="float:right;">
            <a href="{{ url_for('set_language', lang='fr') }}">Français</a> |
            <a href="{{ url_for('set_language', lang='en') }}">English</a>

        </div>
    <nav>
        <a href="/">{{ _('Accueil') }}</a>
        
        <a href="/gallery">{{ _('Galerie') }}</a>

        <a href="/visualisations">{{ _('Visualisations') }}</a>
        <a href="/bdd">{{ _('Banque de données') }}</a>
        <a href="{{ url_for('map_view') }}">{{ _('Carte interactive') }}</a>
    </nav>
 </header>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
