{% extends "base.html" %}

{% block content %}
<div class="container mt-4 d-flex flex-column align-items-center justify-content-center">
    <h2 class="text-center">{{ _("Uploader une image") }}</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="upload-form" method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" class="d-flex flex-column align-items-center justify-content-center" style="width:100%;max-width:500px;">
        <div class="d-flex flex-column align-items-center w-100">
            <label for="file-upload" class="btn btn-success mb-2 w-100 text-center">
                {{ _('Choisir un fichier') }}
            </label>
            <input id="file-upload" type="file" name="image" accept=".jpg, .jpeg, .png" style="display:none" required>
            <span id="file-name" class="mb-3">{{ _('Aucun fichier choisi') }}</span>
        </div>
        {% if session.role == 'admin' %}
        <div class="form-group mt-3 w-100">
            <label for="arrondissement">Choisir un arrondissement (optionnel) :</label>
            <select class="form-control" id="arrondissement" name="arrondissement">
                <option value="">-- Aucun (aléatoire dans Paris) --</option>
                {% for arr in arrondissements %}
                    <option value="{{ arr }}">{{ arr }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-outline-success mt-3 w-100">Uploader</button>
    </form>
    {% if session.role != 'admin' %}
    <div id="progress-container" class="progress mt-3 w-100" style="height: 30px; display: none; max-width:500px;">
        <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%; height: 100%;">0%</div>
    </div>
    <div id="prediction-result" class="mt-3 text-center"></div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
document.getElementById('file-upload').addEventListener('change', function() {
    var fileName = this.files.length > 0 ? this.files[0].name : "{{ _('Aucun fichier choisi') }}";
    document.getElementById('file-name').textContent = fileName;
});
</script>
{% if session.role != 'admin' %}
<script src="{{ url_for('static', filename='js/upload_progress.js') }}"></script>
{% endif %}
{% endblock %}
