{% extends "base.html" %}

{% block title %}Visualisations{% endblock %}

{% block content %}
    <title>{{ _('Bienvenue sur le dashboard !') }}</title>

    <h1>{{ _('Vous pouvez visualiser les données de vos poubelles ici.') }}</h1>
    <h2>{{ _('Visualisations') }}</h2>

    <h2>{{ _('Statistiques') }}</h2>
    <p>{{ _('Nombre total d\'annotations :') }} {{ total_annotations }}</p>
    <p>{{ _('Nombre d\'annotations poubelles pleines :') }} {{ full_annotations }}</p>
    <p>{{ _('Nombre d\'annotations poubelles vides :') }} {{ empty_annotations }}</p>
    <p>{{ _('Nombre d\'annotations non labelisées :') }} {{ non_labelled_annotations }}</p>
{% endblock %}
